@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=========== Loader =============-->
<div id="gen-loading">
    <div id="gen-loading-center">
        <img src="~/images/logo-1.png" alt="loading">
    </div>
</div>
<!--=========== Loader =============-->
<!-- register -->
<section class="position-relative pb-0">
    <div class="gen-register-page-background" style="background-image: url('~/images/background/asset-3.jpeg');">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <div>
                        <h1>Error 404</h1>
                        <h1>Page not found</h1>
                        <h1><i><a href="@Url.Action("Index", "Home")">Home here</a></i></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- register -->